.main-nav__list {
  margin: 0;
  padding: 0;
  padding-top: 69px;
  list-style: none;
}
.main-nav {
  width: 100%;
  margin: 0 auto;
  min-height: 324px;
}
.main-nav--closed {
  background-color: rgba(22, 29, 38, 0.3);
}
.main-nav__wrapper {
  background-color: #1d2631;
}
.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 6.25vw;
  display: block;
  width: 54px;
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
:hover,
:active {
  border: none;
}
.site-list {
  font-weight: bold;
}
.site-list a {
  display: block;
  text-align: center;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1d2631;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.site-list a[href]:hover {
  color: #d22856;
}
.site-list a[href]:focus {
  color: #ffffff;
  opacity: 30%;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
          box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  -webkit-box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
          box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
}
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: rgba(223, 21, 92, 0.3);
  -webkit-box-shadow: 0 10px 0 0 rgba(223, 21, 92, 0.3), 0 20px 0 0 rgba(223, 21, 92, 0.3);
          box-shadow: 0 10px 0 0 rgba(223, 21, 92, 0.3), 0 20px 0 0 rgba(223, 21, 92, 0.3);
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 30px;
  height: 5px;
  border: none;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  border: none;
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:focus::after {
  border: none;
  background-color: #d22856;
  opacity: 30%;
}
@media (max-width: 1199px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--closed {
    min-height: 65px;
    background-color: transparent;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 660px) {
  .main-nav__list {
    padding-top: 110px;
  }
  .main-nav__toggle {
    top: 37px;
    right: 3vw;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    min-height: 110px;
    width: 52vw;
    padding-left: 37vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
  .main-nav__list {
    width: 100%;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    background-color: rgba(22, 29, 38, 0.3);
    min-height: 110px;
  }
  .main-nav__toggle {
    display: none;
  }
  .site-list a {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    background-color: rgba(22, 29, 38, 0.3);
    border: none;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 2px;
    background-color: #ffffff;
  }
}
.page-header {
  position: relative;
  width: 100%;
  background-color: rgba(22, 29, 38, 0.3);
  min-height: 65px;
}
.page-header__container {
  padding: 0 5.55vw;
}
@media (min-width: 660px) {
  .page-header {
    min-height: 110px;
    /*  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1338px auto;
}*/
  }
}
@media (min-width: 1200px) {
  .page-header {
    /*  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: cover;
}*/
  }
}
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-weight: light;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
body {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
  text-align: center;
  background-color: #283645;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-main__title {
  height: 169px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 34px;
}
/*
@media(min-width: @tablet-width){
  .container {
    width: 768px;
    margin: 0 auto;
  }
}


@media(min-width: @desktop-width) {
.container {
  width: 1200px;
  margin: 0 auto;

}
}
*/
.download {
  background: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 257px 290px, 100% 464px;
  background-position: 0 110px, 50% -70px;
  background-repeat: no-repeat;
  min-height: 664px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .download {
    background: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 257px 290px, 100% 458px;
    background-position: 0 102px, 50% -70px;
    background-repeat: no-repeat;
  }
}
.download__slogan {
  height: 397px;
  margin: 0;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  padding-top: 18px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}
.download__button {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 13px 36px;
  border-radius: 30px;
}
.download__button:hover {
  border: none;
  background-color: #ffffff;
  color: #d22856;
}
.download__button:focus {
  border: none;
  background-color: #ffffff;
  color: rgba(223, 21, 92, 0.3);
}
.download__information {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-left: 37px;
  padding-right: 37px;
  text-align: center;
  padding-top: 15px;
  width: 230px;
  margin: 0;
}
.download__wrapper {
  margin: 0 auto;
}
.download__platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 46px;
  width: 240px;
}
.platforms__link--android svg,
.platforms__link--microsoft svg {
  padding-top: 10px;
}
.platforms__link svg {
  cursor: pointer;
}
@media (min-width: 660px) {
  .download {
    background: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 700px auto, 1198px 70px;
    background-position: -21px 70px, 50% -70px;
    background-repeat: no-repeat;
    min-height: 615px;
  }
  .download__wrapper {
    width: 300px;
    padding-left: 3vw;
  }
  .download__slogan {
    height: auto;
    padding-top: 90px;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    width: 186px;
    height: 126px;
    padding-left: 11.36vw;
    margin-bottom: 64px;
  }
  .download__button {
    padding: 13px 46px;
  }
  .download__platforms {
    width: 36.36vw;
    padding-top: 60px;
  }
  .download__information {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
  .download__wrapper {
    margin: 0;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .download {
    background: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    background-size: 700px auto, 1198px 70px;
    background-position: -21px 70px, 50% -70px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .download__wrapper {
    padding-left: 130px;
  }
  .download {
    min-height: 741px;
    background: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1050px auto, 1300px 70px;
    background-position: 148px 95px, 50% -70px;
    background-repeat: no-repeat;
  }
  .download__slogan {
    font-size: 50px;
    padding-left: 13vw;
    line-height: 59px;
    width: 231px;
    padding-top: 110px;
    margin-bottom: 123px;
  }
  .download__button {
    font-size: 21px;
    padding: 12px 29px;
  }
  .download__information {
    padding-top: 50px;
  }
  .download__wrapper {
    padding-left: 10.83vw;
  }
  .download__platforms {
    width: 245px;
    padding-top: 80px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .download {
    background: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
    background-size: 1050px auto, 1300px 70px;
    background-position: 148px 95px, 50% -70px;
    background-repeat: no-repeat;
  }
}
.application-features__appeal {
  background-color: #ffffff;
  min-height: 205px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 300;
  color: #283645;
  text-align: center;
  padding-top: 15px;
}
.application-features {
  width: 100%;
  background-color: #ffffff;
}
.application-features__item--friends::after {
  content: "";
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center 10px;
  width: 100%;
  height: 289px;
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .application-features__item--friends::after {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 163px 289px;
  }
}
.application-features__list {
  background-color: #f2f2f2;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  /*  &::before {
    content:"";
    position: absolute;
    width: 100%;
    height:25px;
    background: url(../img/bg-triangle-white.svg) no-repeat center top;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-size: cover;
    display: block;
  }*/
  /*&::before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: @bg-grey;
    transform: skewY(-10deg);
    z-index:-1;
    left:0;

  }*/
}
.application-features__title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
.application-features__description {
  margin-bottom: 28px;
  line-height: 1.71;
}
.application-features__info {
  display: none;
}
@media (min-width: 660px) {
  .application-features__appeal {
    min-height: 218px;
    font-size: 40px;
    line-height: 50px;
    padding-top: 25px;
  }
  .application-features {
    min-height: 488px;
  }
  .application-features__wrapper {
    min-height: 480px;
  }
  .appeal__item--first {
    margin-top: 23px;
    margin-bottom: 0;
  }
  .appeal__item--second {
    width: 550px;
    margin: 0 auto;
  }
  .application-features {
    background-color: #f2f2f2;
  }
  .application-features__wrapper {
    min-height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .application-features__title {
    margin-bottom: 0;
    margin-top: 18px;
  }
  .application-features__description {
    margin-top: 12px;
    margin-bottom: 37px;
  }
  .application-features__list {
    width: 45.45vw;
    min-height: 428px;
    padding-top: 55px;
    text-align: left;
    padding-left: 4.54vw;
  }
  .application-features__item--friends::after {
    display: none;
  }
  .application-features__photo {
    width: 262px;
    height: 480px;
    position: relative;
    padding-left: 3vw;
  }
  .application-features__photo::before {
    content: "";
    position: absolute;
    background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat center top;
    width: 269px;
    height: 480px;
    left: 0;
  }
  .application-features__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
    min-height: 430px;
    padding-left: 3vw;
  }
  /*&::before {
    content: "";
    position: absolute;
    background: url("../img/icon-timer.svg") no-repeat;
    width:300px;
    height: 350px;
    top: 60px;

  }*/
  .application-features__timer {
    width: 20px;
    padding-left: 0;
    padding-top: 60px;
    position: relative;
  }
  .application-features__timer::after {
    content: "24";
    position: absolute;
    width: 178px;
    height: 165px;
    padding-top: 10px;
    border-radius: 50%;
    border: 13px solid #d22856;
    color: #d22856;
    background-color: #ffffff;
    font-size: 96px;
    line-height: 149.5px;
    font-weight: bold;
    top: 115px;
    left: 18px;
  }
  .application-features__timer svg {
    fill: #dedede;
  }
  .application-features__research {
    width: 46.96vw;
    padding-right: 20px;
    text-align: left;
    padding-top: 64px;
  }
  .research__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0;
  }
  .research__info {
    margin-top: 7px;
    margin-bottom: 12px;
  }
  .research__more {
    color: #d22856;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .application-features__photo::before {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-size: 269px 480px;
  }
}
@media (min-width: 1200px) {
  .application-features__appeal {
    min-height: 323px;
    padding-top: 80px;
  }
  .application-features__list {
    width: 73.91vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 12.75vw;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 340px;
    min-height: 289px;
  }
  .application-features__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 630px;
  }
  .application-features__title {
    font-size: 30px;
    line-height: 30px;
  }
  .application-features__item {
    width: 240px;
    height: 250px;
  }
  .application-features__description {
    font-size: 18px;
    line-height: 30px;
  }
  .application-features__item--change .application-features__description {
    padding-left: 5px;
  }
  .application-features__description {
    margin-top: 24px;
  }
  .application-features__photo {
    display: none;
  }
  .application-features__appeal {
    font-size: 50px;
    line-height: 60px;
    padding-top: 45px;
    min-height: 280px;
  }
  .application-features__item--friends {
    position: relative;
  }
  .application-features__item--friends::before {
    content: "";
    position: absolute;
    background: url(../img/iphone-screen-3-desktop@1x.png) no-repeat;
    width: 260px;
    height: 310px;
    left: -20px;
    top: -340px;
  }
  .application-features__item--change {
    position: relative;
  }
  .application-features__item--change::before {
    content: "";
    position: absolute;
    background: url(../img/iphone-screen-2-desktop@1x.png) no-repeat;
    width: 260px;
    height: 310px;
    left: -20px;
    top: -340px;
  }
  .application-features__item--mood {
    position: relative;
  }
  .application-features__item--mood::before {
    content: "";
    position: absolute;
    background: url(../img/iphone-screen-1-desktop@1x.png) no-repeat;
    width: 260px;
    height: 310px;
    left: -20px;
    top: -340px;
  }
  .application-features__info {
    background-color: #f2f2f2;
    min-height: 410px;
  }
  .application-features__research {
    padding-top: 58px;
    width: 525px;
    padding-right: 15vw;
  }
  .research__info {
    font-size: 18px;
    line-height: 30px;
    padding-left: 0;
    margin-top: 24px;
    margin-bottom: 30px;
  }
  .research__title {
    padding-left: 0;
  }
  .research__more {
    font-size: 18px;
    line-height: 30px;
    padding-left: 0;
  }
  .application-features__research br {
    display: none;
  }
  .application-features__timer svg {
    width: 298px;
    height: 345px;
  }
  .application-features__timer {
    padding-left: 130px;
    padding-top: 0;
  }
  .application-features__timer::after {
    width: 216px;
    height: 212px;
    padding-top: 10px;
    border-radius: 50%;
    border: 17px solid #d22856;
    font-size: 120px;
    line-height: 187px;
    font-weight: bold;
    top: 68px;
    left: 154px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .application-features__item--friends::before {
    background: url(../img/iphone-screen-3-desktop@2x.png) no-repeat;
    background-size: 295px 300px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .application-features__item--change::before {
    background: url(../img/iphone-screen-2-desktop@2x.png) no-repeat;
    background-size: 295px 300px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .application-features__item--mood::before {
    background: url(../img/iphone-screen-1-desktop@2x.png) no-repeat;
    background-size: 295px 300px;
  }
}
.package {
  min-height: 469px;
  background-color: #f2f2f2;
}
.package__option {
  list-style: none;
}
.page-footer {
  background-color: #ffffff;
}
.page-footer__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 10px;
}
.page-footer__wrapper--second {
  display: none;
}
.item__text {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.item__content {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #d22856;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}
.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.social__link {
  text-decoration: none;
}
.copyright__text {
  font-weight: normal;
}
.page-footer__copyright {
  padding-top: 45px;
  padding-bottom: 41px;
}
.page-footer__logo img {
  margin-top: 39px;
}
.page-footer__social {
  padding-top: 39px;
}
.page-footer__contacts {
  margin-bottom: 42px;
  position: relative;
  z-index: 2;
}
.page-footer__contacts::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 38px;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom ;
  background-size: cover;
  display: block;
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: -65px;
}
.page-footer__map img {
  height: 200px;
  z-index: 0;
  position: absolute;
}
.page-footer__map iframe {
  width: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
}
@media (min-width: 660px) {
  .page-footer {
    min-height: 904px;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-footer__contacts {
    padding-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .contacts__item {
    width: 275px;
    padding-bottom: 30px;
  }
  .page-footer__title {
    font-size: 40px;
    line-height: 53px;
    padding-top: 42px;
    width: 466px;
    margin: 0 auto;
  }
  .page-footer__map iframe {
    height: 376px;
  }
  .page-footer__wrapper--second {
    padding-top: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-footer__social {
    padding-top: 30px;
  }
  .social__item {
    font-size: 0;
    background-color: #ffffff;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
  }
  .social__item:hover {
    border: 3px solid #283645;
  }
  .social__item:active {
    opacity: 30%;
  }
  .social__list {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social__item svg {
    fill: #d22856;
    padding-top: 15px;
    width: 27px;
  }
  .copyright__link svg {
    fill: #d22856;
    width: 40px;
    height: 40px;
  }
  .copyright__link:hover svg {
    fill: #283645;
  }
  .copyright__link:focus svg {
    opacity: 30%;
  }
  .copyright__link:active svg {
    opacity: 30%;
  }
  .copyright__text {
    font-size: 18px;
    line-height: 18px;
  }
  .page-footer__copyright {
    width: 155px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .contacts__item--email {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .page-footer {
    min-height: 1068px;
  }
  .page-footer__title {
    font-size: 50px;
    padding-top: 64px;
    line-height: 60px;
  }
  .page-footer__contacts {
    width: 75.83vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-top: 26px;
    height: 145px;
  }
  .item__text {
    margin-bottom: 20px;
  }
  .contacts__item {
    height: 200px;
  }
  .page-footer__wrapper--first {
    min-height: 870px;
  }
  .page-footer__map iframe {
    height: 502px;
  }
  .page-footer__wrapper--second {
    min-height: 200px;
    padding-top: 26px;
  }
  .page-footer__logo {
    padding-left: 20px;
  }
}
.gallery {
  background-color: #ffffff;
  width: 100%;
}
.gallery__intro {
  padding-top: 73px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;
  padding-bottom: 57px;
  line-height: 2.14;
}
.gallery__content {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.content__description {
  background-color: #f2f2f2;
  margin: 0;
  text-align: left;
  padding-left: 17px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.description__author-name {
  font-weight: bold;
}
.description__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
.description__rating {
  color: #d22856;
  padding-left: 48px;
}
@media (min-width: 660px) {
  .content-big img {
    width: 768px;
    height: auto;
  }
  .content img {
    width: 300px;
    height: 300px;
  }
  .content-big {
    margin-left: 0;
    margin-right: 0;
  }
  .description {
    width: 283px;
    min-height: 155px;
  }
  .description-big {
    width: 768px;
    margin: 0 auto;
  }
  .gallery__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .gallery__intro {
    min-height: 172px;
    padding-bottom: 0;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
  }
  .description-big {
    width: 923px;
  }
  .content__description {
    margin-bottom: 55px;
  }
  .content-big {
    margin-left: 130px;
    margin-right: 130px;
    min-height: 96px;
  }
  .gallery__wrapper {
    padding-left: 130px;
    padding-right: 130px;
  }
  .content-big img {
    width: 1200px;
    height: auto;
  }
  .content img {
    width: 300px;
    height: 397px;
  }
}
.reviews {
  background-color: #ffffff;
  min-height: 354px;
  line-height: 30px;
}
.quotes {
  display: none;
}
.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 15px;
}
.author-name__about {
  display: none;
}
.reviews__text {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}
.reviews__prev {
  display: none;
}
.reviews__next {
  display: none;
}
.reviews__toggles {
  position: relative;
  padding-left: 10px;
}
.radio {
  color: #ffffff;
}
.radio input {
  display: none;
}
.radio span {
  position: absolute;
  display: inline-block;
  top: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.radio input:checked + span {
  position: absolute;
  display: inline-block;
  top: -9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #283645;
}
@media (min-width: 660px) {
  .author-name__about {
    display: block;
    font-size: 14px;
    line-height: 2.14;
    font-weight: normal;
    color: #283645;
    padding-top: 3px;
  }
  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }
  .reviews__text {
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
    font-weight: normal;
    margin-bottom: 35px;
  }
  .reviews__toggles {
    margin-top: 29px;
  }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .reviews {
    height: 260px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    min-height: 418px;
    position: relative;
  }
  .reviews_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__toggles {
    display: none;
  }
  .reviews__author-name {
    font-size: 24px;
    padding-top: 40px;
  }
  .author-name__about {
    font-size: 18px;
    line-height: 30px;
  }
  .reviews__text {
    width: 54.16vw;
    margin: 0 auto;
    padding-top: 35px;
  }
  .reviews__prev {
    display: block;
    position: absolute;
    top: 215px;
    padding: 0;
    left: 10.83vw;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
  .reviews__next {
    display: block;
    position: absolute;
    padding: 0;
    top: 215px;
    right: 10.83vw;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
  .reviews svg {
    fill: #283645;
  }
  .quotes {
    display: block;
    padding-top: 80px;
  }
  .quotes svg {
    fill: #f2f2f2;
  }
}
.page-header__logo {
  position: absolute;
  left: -53px;
  display: block;
  z-index: 3;
}
.page-header__logo:hover svg {
  fill: #d22856;
}
.page-header__logo-pink svg {
  width: 74px;
  height: 23px;
}
@media (min-width: 660px) {
  .page-header__logo {
    width: 150px;
    height: 47px;
    padding-top: 25px;
    left: 3vw;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    width: 150px;
    padding-top: 20px;
    padding-right: 166px;
    padding-left: 7.5vw;
  }
  .page-header__logo svg {
    width: 150px;
    height: 59px;
  }
}
/*  background: @bg-darkblue url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -90px;
  background-size: 100% 466px;


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  background:  @bg-darkblue url("../img/bg-back-mobile@2x.jpg") no-repeat 50% -10px;
  background-size: 100% 466px;


}
}
*/
@media (min-width: 660px) {
  body {
    background: #1d2631 url("img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 1178px 730px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  body {
    background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 0;
    background-size: 1178px 730px;
  }
}
@media (min-width: 1200px) {
  body {
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    background-size: 2550px 852px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  body {
    background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 0;
    background-size: 2550px 852px;
  }
}
.tariffs {
  background-color: #f2f2f2;
  min-height: 475px;
  position: relative;
  width: 100%;
}
.tariffs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  background: url(../img/bg-triangle-white.svg) no-repeat center top;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  background-size: cover;
  display: block;
}
.tariffs__table {
  width: 100%;
  border-collapse: collapse;
  top: 93px;
  position: absolute;
  left: -390px;
  text-transform: uppercase;
}
.tariffs__list {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background-color: #283645;
  border-top: none;
}
.tariffs__name {
  padding: 22px 0;
  border: 2px solid #f2f2f2;
}
.tariffs__name--grey {
  background-color: #f2f2f2;
}
.tariffs__name--hit {
  position: relative;
}
.tariffs__name--hit::before {
  content: "";
  position: absolute;
  background-image: url(../img/bg-hit.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 73px;
  left: 0;
  top: 0;
  z-index: 2;
}
.tariffs__name--hit::after {
  content: "хит";
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 26px;
  color: #ffffff;
  left: 15px;
  top: 15px;
  font-size: 10px;
  line-height: 21px;
  font-weight: normal;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tariffs__item td {
  background-color: #ffffff;
  height: 60px;
  line-height: 30px;
  color: #283645;
  text-align: left;
  padding-left: 23px;
  border: 2px solid #e5e5e5;
}
.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  width: 280px;
  display: block;
}
.tariffs__toggles {
  margin: 0;
  padding-left: 10px;
  padding-top: 420px;
}
.tariffs__radio {
  color: #f2f2f2;
}
.tariffs__radio input {
  display: none;
}
.tariffs__radio span {
  position: absolute;
  display: inline-block;
  top: 430px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.tariffs__radio input:checked + span {
  position: absolute;
  display: inline-block;
  top: 428px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #283645;
}
.tariffs__component--no {
  position: relative;
}
.tariffs__component--no::before,
.tariffs__component--no::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 228px;
  width: 37px;
  height: 3px;
  border: none;
  background-color: #f25b26;
}
.tariffs__component--no::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tariffs__component--no::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tariffs__component--yes {
  position: relative;
}
.tariffs__component--yes::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  border: 3px solid #3dc644;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: none;
  border-left: none;
  top: 10px;
  left: 235px;
}
@media (min-width: 660px) {
  .tariffs {
    min-height: 370px;
  }
  .tariffs__table {
    position: relative;
    margin: 0 auto;
    top: 80px;
    width: 620px;
    padding-left: 20px;
    left: 0;
  }
  .tariffs__list {
    font-size: 16px;
  }
  .tariffs__price {
    font-size: 18px;
    width: 110px;
    padding-left: 20px;
  }
  .tariffs__name {
    padding: 20px 3px;
  }
  .tariffs__component--yes span {
    display: none;
    font-size: 0;
  }
  .tariffs__component--no span {
    display: none;
    font-size: 0;
  }
  .tariffs__component--yes::after {
    width: 11px;
    height: 26px;
    top: 1px;
    left: 70px;
  }
  .tariffs__component--no::before,
  .tariffs__component--no::after {
    left: 58px;
    top: 15px;
  }
  .tariffs__item td {
    font-size: 14px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 10px;
    text-transform: none;
    height: 44px;
  }
  .tariffs__name--hit::before {
    content: "";
    background-image: url(../img/bg-hit-tablet.svg);
    width: 61px;
    height: 61px;
  }
  .tariffs__name--hit::after {
    left: 8px;
    top: 10px;
  }
  .tariffs__toggles {
    display: none;
  }
}
@media (min-width: 1200px) {
  .tariffs {
    min-height: 524px;
  }
  .tariffs__table {
    top: 150px;
    width: 940px;
  }
  .tariffs__item td {
    font-size: 18px;
    width: 150px;
    height: 57px;
  }
  .tariffs__price {
    margin: 0 auto;
    font-size: 24px;
    padding: 0;
  }
  .tariffs__component--yes::after {
    top: 10px;
    left: 110px;
  }
  .tariffs__component--no::before,
  .tariffs__component--no::after {
    top: 28px;
    left: 97px;
  }
}

/*# sourceMappingURL=style.css.map */
