.application-features__appeal {
  background-color: @bg-white;
  min-height: 218px;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: @bg-blue;
  text-align: center;
  padding-top:26px;
}

.application-features {
  min-width: 320px;

}

.application-features__list {
  background-color: @bg-grey;
  min-height: 786px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;

}

.application-features__title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.reviews {
  background-color: @bg-white;
  min-height:354px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
  margin: 0;
  padding-top: 50px;
}

.reviews__item {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

}
