.application-features__appeal {
  background-color: @bg-white;
  min-height: 218px;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: @bg-blue;
  text-align: center;
  padding-top:26px;
}

.application-features {
  min-width: 320px;

}

.application-features__list {
  background-color: @bg-grey;
  min-height: 786px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;

}

.application-features__title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .application-features__appeal {
   min-height: 242px;
}
.application-features {
  background-color: @bg-grey;

}
.application-features__wrapper {
  min-height: 488px;
  display: flex;
  flex-direction: row-reverse;
}
.application-features__photo {
  width: 257px;
  height:488px;
  padding:0;
  margin: 0;
}


.application-features__list {
  min-width: 310px;
  min-height: 488px;
}
}

@media (min-width: @desktop-width) {
  .application-features__appeal{
  min-height: 323px;
  padding-top: 80px;
}
 .application-features__list {
   min-width: 940px;
   display: flex;
   padding-left: 130px;
   padding-right: 130px;
 }
 .application-features__wrapper {
    flex-direction: column-reverse;
 }
}
