.download {
  min-height: 667px;
}
.download__slogan {
  height: 397px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: @bg-white;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

.download__button {
  color: @bg-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;

}

.download__information {
  color: @bg-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-left: 37px;
  padding-right: 37px;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

.download__platforms {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 46px;
}

.platforms__link {
  text-decoration: none;
}
