.download {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 105px;
  min-height:664px;
 @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 260px auto;
  }
}
.download__slogan {
  height: 397px;
  margin: 0;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  color: @bg-white;
  padding-top: 18px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

.download__button {
  color: @bg-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  border: 2px solid @bg-white;
  padding: 13px 36px;
  border-radius: 30px;
}

.download__button:hover {
  border: none;
  background-color: @bg-white;
  color: @bg-red;
}

.download__button:focus {
  border: none;
  background-color: @bg-white;
  color: rgba(223,21,92,0.3)
}

.download__information {
  color: @bg-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-left: 37px;
  padding-right: 37px;
  text-align: center;
  padding-top: 55px;
  margin: 0;
}

.download__platforms {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 46px;
}

.platforms__link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .download {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px bottom;
    min-height: 615px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-tablet@2x.png");
    background-size: 705px auto;
  }
}
  .download__wrapper {
    width: 300px;
    padding-left: 20px;
  }
  .download__slogan {
    height: auto;
    padding-top: 90px;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    width: 186px;
    height: 126px;
    padding-left: 75px;
    margin-bottom: 64px;
  }

  .download__button {
    padding: 13px 46px;
  }
  .download__platforms {
    padding-top: 75px;
  }
  .download__information {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper{
    padding-left: 130px;
  }
  .download {
    min-height: 741px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 140px bottom;
    background-size: 1050px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-desktop@2x.png");
    background-size:1050px auto;

  }
}

.download__slogan {
  font-size: 50px;
  padding-left:13.33vw;
  line-height: 59px;
  width: 231px;
  padding-top: 110px;
  margin-bottom: 119px;
}
.download__information {
  padding-top: 95px;
}

.download__wrapper {
  padding-left: 10.83vw;
}
}
