.gallery {
  background-color: @bg-white;
  width: 100%;
}

.gallery__intro {
  padding-top: 73px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;
  padding-bottom: 57px;
  line-height: 2.14;
}

.gallery__content {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.content__description {
  background-color: @bg-grey;
  margin: 0;
  text-align: left;
  padding-left: 17px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.description__author-name {
  font-weight: bold;
}

.description__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.description__rating {
  color: @bg-red;
  padding-left: 48px;
}

@media (min-width: @tablet-width) {
  .content-big {
    margin: 0;
 }

 .content {
   width: 300px;
   min-height: 155px;
   margin: 0;
 }

 .description {
   width: 300px;
   min-height: 155px;
 }
  .gallery__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width){
 .gallery__intro {
   min-height: 172px;
   padding-bottom: 0;
 }
.description-big {
  margin-left: 130px;
  margin-right: 130px;

  min-height: 96px;
}
.gallery__wrapper {
  padding-left: 130px;
  padding-right: 130px;
}
}
