.main-nav__list {
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
}

.main-nav {
  width: 320px;
  min-height: 254px;
}

.main-nav__toogle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.main-nav ul {
  padding: 0;
}

.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 32px;
  color: @bg-white;

  text-transform: uppercase;
  text-decoration: none;

  background-color: @bg-darkblue;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
