.page-header__logo {
  position: absolute;
  left: -53px;
  display: block;
  z-index: 3;
}
.page-header__logo:hover svg{
  fill:@bg-red;
}

.page-header__logo-pink svg {
  width: 74px;
  height: 23px;


}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 150px;
    height: 47px;
    padding-top: 25px;
    left: 3vw;
  }
  }

@media (min-width: @desktop-width) {
  .page-header__logo {
    width:150px;
    padding-top: 20px;
    padding-right: 166px;
    padding-left: 7.5vw;
  }
  .page-header__logo svg {
    width:150px;
    height: 59px;
  }
}
