.page-header {
  position: relative;
  width: 100%;
  background-color: rgba(22,29,38,0.3);
  min-height: 65px;
  }
  .page-header__container {
    padding: 0 5.55vw;
  }

  @media (min-width: @tablet-width) {
  .page-header {
    min-height: 110px;


  /*  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1338px auto;
}*/
}
}

@media (min-width: @desktop-width) {
  .page-header {


  /*  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: cover;
}*/


  }
}
