.reviews {
  background-color: @bg-white;
  min-height:354px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
  margin: 0;
  padding-top: 50px;
}

.reviews__item {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

}
